<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/data/mongo
          http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">

	<mongo:mongo replica-set="${Database.MongoDB.Ip}:${Database.MongoDB.Port}">
		<mongo:options connections-per-host="100" threads-allowed-to-block-for-connection-multiplier="5" />
	</mongo:mongo>

	<mongo:db-factory id="mongoDbFactory" mongo-ref="mongo" dbname="${Database.MongoDB.DatabaseName}" />
	<!-- username="${Database.MongoDB.Username}" password="${Database.MongoDB.Password}" -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>

	<mongo:db-factory id="adminMongoDbFactory" mongo-ref="mongo" dbname="${Database.MongoDB.AdminDatabaseName}" />
	<bean id="adminMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="adminMongoDbFactory" />
	</bean>
</beans>