<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="metadataCacheManager" class="org.archmage.cc.infosource.metadata.MetadataCacheManager" init-method="refresh">
		<property name="sysconfig" ref="sysconfig" />
		<property name="loaderManagerList">
			<list>
			</list>
		</property>
	</bean>
</beans>